.nav-link{
  color: white;
}
.nav a:hover {
  color: #fafbfc;
  text-decoration: underline;
  text-decoration: none;
}
.d-grid{
  display: grid;
}
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
.gap-3 {
  gap: 1rem !important;
}
.nav a{
  color: #9d9d9d;
}
