<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>
          You must have at least two items in a list (or it’s not a list; it’s just an item). </li>
        <li>If you emphasize too many ideas, you end up emphasizing nothing</li>
        <li>Avoid having more than 8 items in a list, as too many items can have the reverse effect.</li>
      </ol>
      <hr>
      <div class="d-flex">


      <label for="username">Username</label>
    <!--   <input type="text" name="username" id="username" class="form-control" [(ngModel)]="userssss"> -->
    </div>
      <p>{{userssss}}</p>
    </div>
  </div>
</div>
